body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(242, 247, 251);
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

section {
    padding: 1.5em;
    margin-bottom: 2em;
}

table {
    margin: 10px;
    border-collapse: collapse;
    margin-top: 1em;
}

ul { 
    list-style-type:  inside;
    line-height: 2em;
}
