form {
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

input, textarea {
    padding: 0.75rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%
}

input:focus, textarea:focus {
    border-color: #5578f7;
    outline: none;
    box-shadow: 0 0 0 2px #cfe1ff;
}